
@{
    ViewBag.Title = "Index";
}
@section scripts
{

    <script src="~/Scripts/plugin/mustache.min.js"></script>

    <script src="~/Scripts/controllers/nhansuController.js"></script>
}
<h2>Index</h2>
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <td>ID</td>
                    <td>Name</td>
                    <td>Status</td>
                    <td>#</td>
                </tr>
            </thead>
            <tbody id="tblData">
            </tbody>
        </table>

        <div id="pagination" class="pagination">
        </div>

        <script id="data-template" type="x-tmpl-mustache">
            <tr>
                <td>{{EMPLOYEE_ID}}</td>
                <td>{{FULL_NAME}}</td>
                <td>{{{WORKSTATUS}}}</td>
                <td>
                    <button class="btn btn-primary btn-edit" data-id="{{ID}}">Edit</button>
                    <button class="btn btn-danger btn-delete" data-id="{{ID}}">Delete</button>
                </td>
            </tr>
        </script>
    </div>

</div>

